

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
       
        #map_canvas {width: 800px;
color: #FFF;
margin: 0 auto;}
    </style>
    <script type="text/javascript">
        function initialize() {
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
        }
        var myKey = "AIzaSyC3n7zi8nErv5NM4mPKFS2C9KiOiuwl6hs";
        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "https://maps.googleapis.com/maps/api/js?key=" + myKey + "&sensor=false&callback=initialize";
            document.body.appendChild(script);
        }
    </script>
