
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyC3n7zi8nErv5NM4mPKFS2C9KiOiuwl6hs&callback=loadMap"></script>

<script>
         var myCenter = new google.maps.LatLng(13.361751, 74.764052);
         function loadMap(){
			
            var mapProp = {
               center: myCenter,
               zoom:5,
               mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            
            var marker = new google.maps.Marker({
               position: myCenter,
               title:'Click to zoom'
            });
            
            marker.setMap(map);
            
            //Zoom to 7 when clicked on marker
            google.maps.event.addListener(marker,'click',function() {
               map.setZoom(20);
               map.setCenter(marker.getPosition());
            });

         }
      </script>

