<!DOCTYPE=html>
<html lang=en-US>
    <head>
    <title >
        The VishnuMurthy Temple Mallampalli
        </title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gurajada">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/common.css">
    </head>
    <body>
    <header>
    <h1>Welcome to VishnumurthyTemple</h1>
     {% include nav.html %}
    </header>
    {{content}}

    <footer>
     {% include nav.html %}
        <p>template created by Deepak</p>
    </footer>
        </body>
</html>