<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->
      
    
      {% if page.url=='{{site.baseurl}}/about/' %}
      <div class="page-content">
          <div class="wrapper">
         {% include map.html %}
          </div>
          </div>
        {% endif %}
      

    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
