<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->
      
    
      {% if page.url=='{{site.baseurl}}/about/' %}
      <div class="page-content">
          <div class="wrapper">
         {% include map.html %}
          </div>
          </div>
        {% endif %}
      
   <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script type="text/javascript" src="{{ "/assets/js/map.js" | prepend: site.baseurl  }}"></script>
 
    {% include footer.html %}
    {% include javascripts.html %}

  </body>

</html>
